<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruits Index</title>
</head>
<body>
    <a href="/">Homepage</a>
    <a href="/fruits/new">Add New Fruit</a>
    <h1>All Fruits</h1>
    <ul>
        <% fruits.forEach(fruit => { %>
            <li><%= fruit.name %></li>
        <% }) %>
    </ul> <!-- the code block inside the unordered list allows the fruit variable we defined as well as the fruit in our object in server.js to show up on our webpage-->
</body>
</html>