<!-- views/fruits/new.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a Fruit</title>
  </head>
  <body>
    <a href="/">Homepage</a>
    <a href="/fruits/">Back to Fruits</a>
    <h1>Create a New Fruit!</h1>
    <form action="/fruits" method='POST'> <!-- action is your ROUTE, method is the HTML method you want to perform -->
        <label for="name">Name:</label>
        <input type="text" name="name" id="name"/> <!-- when writing this kind of code, make sure it matches your Schema/model. in this case, it is name on models/fruit.js. -->

        <label for="isReadyToEat">Ready to Eat?</label>
        <input type="checkbox" name="isReadyToEat" id="isReadyToEat"/>

        <button type="submit">Add Fruit</button>
        <!-- <input type="submit" value="Add Fruit"/> -->
    </form>
  </body>
</html>