<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= fruit.name %></title> <!-- passing the fruit name will allow whatever fruit name you click on to show as the title-->
</head>
<body>
    <a href="/">Homepage</a>
    <a href="/fruits/new">Add New Fruit</a>
    <a href="/fruits/">Back to Fruits</a>
    <h1><%= fruit.name %></h1>
    <% if(fruit.isReadyToEat) { %>
        <p>This fruit is ready to eat!</p>
    <% } else { %>
        <p> This fruit is not ready to eat!</p>
    <% } %>
</body>
</html>